<header class="site-header">

  <div class="wrap">

	<h1>
		<a href="{{site.baseurl}}/" title="Home"><img style="margin-right: 15px;" align="absmiddle" alt="Sage Data" src="{{ site.baseurl }}/img/sage_logo_negative_white_120h.png"></a>
		{% if page.group == 'core' %}SData Core Specification - version 1.1 
		{% elsif page.group == 'sync' %}SData Synchronization - version 1.1
		{% else %}
		 {{ site.title }} 
		{% endif %}
	</h1>

	{% assign layout = page.url | truncate: 9 %}
	{% assign layout = layout | remove:'/' %}
	{% if (layout == 'pages...') or (layout == 'search') %}
		<div class="search">
			<form name="search-form" action="{{site.baseurl}}/search/" method="get">
				<input type="text" name="q" id="search" class="search-field" placeholder="Search..." autocomplete="off" required><input type="submit" value="" style="background-image: url({{site.baseurl}}/img/button-next.png);border: solid 0px #000000;" onclick="if(document.getElementById('search').value.trim().length > 3) document.forms['search-form'].submit(); else return false;" />
			</form>
		</div>
	{% endif %}
  </div>

</header>
