<!--span>{{page.title}} - {{page.group}}</span-->
<script>
$(document).ready(function(){
  
	var path = window.location.pathname;
	var active = $("ul.navigation ul a[href*='"+path+"']").parent().parent();
	if(active.length == 0) active = $("ul.navigation > li > a[href*='"+path+"']").parent().find('ul');
	//console.log(active.length);

	$('ul.navigation ul').not(active).hide();
  
	$('ul.navigation > li > a.childs-only').click(function(){
		//$(this).find('ul').show();
		$(this).parent().find('ul').slideToggle(200);
	});
  
});
</script>
<ul class="navigation">

{% assign pages_list = site.pages %}
{% assign menuitem = 'top' %}
{% assign isToplevelOpen = false %}

{% for p in site.pages %}
    {% if p.group == page.group %}
		{% if p.level == 0 %}
			{% if isToplevelOpen %} {% if menuitem == 'sub' %} </ul> {% endif %} </li> {% endif %}
			{% assign isToplevelOpen = true %}
			{% assign menuitem = 'top' %}
			<li class="navigation active-navnode navnode-open">
				
				<a {% if p.layout != null %}href="{{site.baseurl}}{{p.url}}"{% else %}class="childs-only" style="cursor: pointer;"{% endif %} {% if p.url == page.url %}class="active"{% endif %}>{{p.title}}</a>
		{% endif %}
		{% if p.level > 0 %}
			{% if menuitem == 'top' %} <ul> {% endif %}
			{% assign menuitem = 'sub' %}
			
				<li class="navigation active-navnode navnode-open">
					<a href="{{site.baseurl}}{{p.url}}" {% if p.url == page.url %}class="active"{% endif %}>{{p.title}}</a>
				</li>
			
		{% endif %}
    {% endif %}
{% endfor %}

<!-- close tag(s) for last menu item -->
{% if isToplevelOpen %} {% if menuitem == 'sub' %} </ul> {% endif %} </li> {% endif %}
</ul>

