<!--span>{{page.title}} - {{page.group}}</span-->
<ul class="navigation">

{% assign pages_list = site.pages %}
{% assign menuitem = 'top' %}
{% assign isToplevelOpen = false %}

{% for p in site.pages %}
    {% if p.group == page.group %}
		{% if p.level == 0 %}
			{% if isToplevelOpen %} {% if menuitem == 'sub' %} </ul> {% endif %} </li> {% endif %}
			{% assign isToplevelOpen = true %}
			{% assign menuitem = 'top' %}
			<li class="navigation active-navnode navnode-open">
				
				<a href="{% if p.layout != null %}{{site.baseurl}}{{p.url}}{% else %}#{% endif %}" {% if p.url == page.url %}class="active"{% endif %}>{{p.title}}</a>
		{% endif %}
		{% if p.level > 0 %}
			{% if menuitem == 'top' %} <ul> {% endif %}
			{% assign menuitem = 'sub' %}
			
				<li class="navigation active-navnode navnode-open">
					<a href="{{site.baseurl}}{{p.url}}" {% if p.url == page.url %}class="active"{% endif %}>{{p.title}}</a>
				</li>
			
		{% endif %}
    {% endif %}
{% endfor %}

<!-- close tag(s) for last menu item -->
{% if isToplevelOpen %} {% if menuitem == 'sub' %} </ul> {% endif %} </li> {% endif %}
</ul>

